body 
{
    font-family: 'Lato', sans-serif;
}

.container
{
    width: 1300px;
    padding: 30px;
}

.fhome .row
{
    margin-top: 10px;
    margin-bottom: 10px;
}


.flex
{
    display: flex;
}

.flex-center
{
    align-items:center;
    justify-content: space-around;
}

.fhome .fnav
{
    height: 45px;
    background-color: #967281;
    color: white;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
}

.fsearch
{
    background-color: #967281;
    border: none;
    color: white;
}

.fhead
{
    height: 70px;
}

.fhead img
{
    height: 70px;
}