<div class="container-fluid upload_outer">
    <div class="row">
        <div style="height: 100px;">
            <div class="uname col-md-6 text-center flex-center" style=" font-weight: bold; font-size: 26px;">Name</div>
            <div class="uprog col-md-6 text-center flex-center" style="font-weight: bold; font-size: 26px;">Progress</div>
        </div>
            <ul class="upload_list list-group">
                <li class="list-group-item">
                    <div class="uname col-md-6">eyey</div>
                    <div class="uprog col-md-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                40% Complete (success)
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="uname col-md-6">eyey</div>
                    <div class="uprog col-md-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                40% Complete (success)
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
    </div>
    
</div>