<div class="main-view col-lg-11 flex">
    <div ng-click="settings()">
        eyey
    </div>
    <input id="upload" type="file" style="display:none;" onchange="angular.element(this).scope().file_change(this)" multiple>
    <div class="file" ng-click="openFolder(folder._id)" ng-repeat=" folder in folders | filter: {name: fileFilter}">
        <div class="icon flex justify-center align-center" >
            <i class="fa fa-file-{{file.icon}}o"></i>
        </div>
        <div class="name flex justify-center">
            {{folder.name}}
        </div>
    </div>

    <div class="file" ng-repeat="file in files | filter: {name : fileFilter}">
        <div class="icon flex justify-center align-center" >
            <i class="fa fa-file-{{file.icon}}o"></i>
        </div>
        <div class="name flex justify-center">
            {{file.name}}
        </div>
            <div ng-click="shareFileModal(file._id)">s</div>
            <div ng-click="deleteFile(file._id)">d</div>

    </div>
</div>
